/*
 * Custom CSS for Minecraft X-Ray
 */

a {
    color: #2a2;
}

a:visited {
    color: #151;
}

a:hover {
    color: #3c3;
}

dt {
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: .4em;
    border-bottom: 1px solid silver;
}

dd {
    margin-bottom: 1em;
}

.toptable tr td {
    vertical-align: top;
    margin-left: .2em;
    padding-left: .5em;
}

.screenshots tr td {
    padding: .7em;
    text-align: center;
    font-style: italic;
}

.screenshots tr td img {
    padding-bottom: .3em;
}
